<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NOTIFY.BY</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<div class="container wrap-for-background">
    <div class="row bg-icons">
        <div class="col-lg-12">
            <ul>
                <li class="icon-mail-1"><img th:src="@{../images/bg/mail 2.png}" alt=""></li>
                <li class="icon-mail-2"><img th:src="@{../images/bg/mail.png}" alt=""></li>
                <li class="icon-mail-3"><img th:src="@{../images/bg/mail 3.png}" alt=""></li>
                <li class="plain"><img th:src="@{../images/bg/plane.png}" alt=""></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-center align-items-center parent-form-container">
            <div class="child-form-container">
                <div class="heading-box">

                    <form th:action="@{/admin/countryList}">
                        <button class="back-button" name="Submit" value="Войти" type="Submit">
                            назад
                        </button>
                    </form>

                    <h1>ВВЕДИТЕ НОВЫЙ ПАРОЛЬ</h1></div>
                <form class="form" th:action="@{/admin/changePassword}" method="POST">
                    <label></label>
                    <input type="password" id="newPassword" name="newPassword" placeholder="Введите новый пароль"
                           class="form-control form-control input-border-bottom"/>
                    <label></label>
                    <input type="password" placeholder="Повторите пароль"
                           id="password" name="confirmPassword" class="form-control form-control input-border-bottom"/>
                    <!--ERROR BLOCK-->
                    <div align="center" th:if="${resultFalse}">
                        <p style="font-size: 18px; color: #FF1C19;padding-top: 0.4em;">!!! Пароли не совпадают !!!</p>
                    </div>
                    <div align="center" th:if="${resultTrue}">
                        <p style="font-size: 18px;padding-top: 0.4em;">Пароль успешно изменен</p>
                    </div>
                    <!--END ERROR BLOCK-->
                    <!--SUBMIT-->
                    <input class="btn btn-success my-color-button litle-form-button" name="Submit" value="Изменить"
                           type="Submit">
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>