<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>logistik</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <div class="form-signin">
        <form th:action="@{/admin/countryList}" method="GET">
            <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Организации" type="Submit">Список
                организаций
            </button>
        </form>
        <br>
        <form th:action="@{/admin/userList}">
            <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Пользователи" type="Submit">
                Список пользователей
            </button>
        </form>
        <br>
        <form th:action="@{/admin/changePassword}" method="GET">
            <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Сменить пароль" type="Submit">
                Сменить пароль
            </button>
        </form>
    </div>
</div>
</body>
</html>