<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>NOTIFY.BY</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-9">
                <div class="heading-button">
                    <h1 id="main-heading">Пункты перехода</h1>
                    <button class="btn btn-success sq-button-small add-button-big"
                            name="Submit" value="Войти"
                            type="Submit">
                        <a th:href="@{'addExitPoint'(provinceId=${provinceId}, provinceName=${provinceName},
                countryId=${countryId},countryName=${countryName})}">ДОБАВИТЬ</a>
                    </button>
                </div>

            </div>
        </div>
    </div>
</header>
<main>
    <div class="container wrap-for-background">
        <div class="row bg-icons">
            <div class="col-lg-12">
                <ul>
                    <li class="icon-mail-1"><img th:src="@{../images/bg/mail 2.png}" alt=""></li>
                    <li class="icon-mail-2"><img th:src="@{../images/bg/mail.png}" alt=""></li>
                    <li class="icon-mail-3"><img th:src="@{../images/bg/mail 3.png}" alt=""></li>
                    <li class="plain"><img th:src="@{../images/bg/plane.png}" alt=""></li>
                </ul>
            </div>
        </div><!--bg-icons-END-->

        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <aside id="menu-navigation" class="menu-navigation">
                        <a th:href="@{'/admin/countryList'}">
                            <p>Категории</p>
                        </a>
                        <a th:href="@{'/admin/userList'}">
                            <p>Список пользователей</p>
                        </a>
                        <a th:href="@{'/admin/statistic'}">
                            <p>Статистика</p>
                        </a>
                        <a th:href="@{'/admin/serverEmail'}">
                            <p>Управление почтой</p>
                        </a>
                        <a th:href="@{'/admin/changePassword'}">
                            <p>Сменить пароль</p>
                        </a>
                    </aside>
                </div>
                <div class="col-lg-9">

                    <div class="list-users single-block">
                        <table class="my-table statistic-table-body email-for-sending-list category-land"
                               style="text-align:center" id="countryTable">
                            <thead>
                            <tr>
                                <th>Переход</th>
                                <th>Действия</th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="exitPoint:${exitPoints}">
                                <td th:text="${exitPoint.exitPointName}"></td>
                                <td>
                                    <a th:href="@{'customerServicesList'(exitPointId=${exitPoint.id},provinceId=${provinceId}, provinceName=${provinceName},
                countryId=${countryId},countryName=${countryName})}">Перейти
                                        к списку организаций</a></td>
                                <td>
                                    <a th:href="@{'deleteExitPoint'(exitPointId=${exitPoint.id}, provinceId=${provinceId}, provinceName=${provinceName},
                countryId=${countryId},countryName=${countryName})}">Удалить</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<script th:src="@{../js/js.js}"></script>
</body>
</html>