<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logistik</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<div style="text-align:center; margin:10px">
    <a th:href="@{'countryList'}" class=" btn btn-primary btn-lg">Список стран</a>
    <a th:href="@{'provinceList' (countryId=${countryId}, countryName=${countryName})}"
       class=" btn btn-primary btn-lg">Список областей</a>
    <div class="container">
        <div class="container">
            <h4>Add New Province : </h4>
            <form action="#" th:action="@{/admin/addProvince(countryId=${countryId},countryName=${countryName})}"
                  th:object="${province}" method="post">
                <div class="form-group row">
                    <label for="title" class="col-sm-2 col-form-label col-form-label">Название области : </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control" id="title" th:field="*{provinceName}"
                               placeholder="Введите название области" required/>
                    </div>
                </div>
                <input type="submit" class="btn btn-success" value="Добавить">
            </form>
        </div>
    </div>
</div>
</body>
</html>