@font-face {
    font-family: 'LogisticCustom';
    src: url("../fonts/3966.ttf");
}

a {
    text-decoration: none;
    /*color: #ffffff;*/
}

a:hover {
    text-decoration: none;
    color: #ffffff;
}

html, body {
    height: 100%;
}

body {
    background-color: #f6f5f0;
    position: relative;
    min-width: 992px;
}

* {
    padding: 0;
    margin: 0;
    font-family: LogisticCustom;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.wrap-for-background {
    position: relative;
}

.parent-form-container {
    position: relative;
    height: 100vh;
}

.child-form-container {
    width: 400px;
    height: 400px;
    padding: 2em;

    -webkit-box-shadow: 0px 0px 57px 3px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 0px 57px 3px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 0px 57px 3px rgba(0, 0, 0, 0.37);
    z-index: 200;
    background-color: #fff;
    position: relative;
}

.back-button {
    position: relative;
    padding-left: 20px;
    font-size: 1.4em;
    color: #a7a7a7;
    border: none;
    background: none;
    cursor: pointer;
}

.back-button:hover {
    /* background-color: #a7a7a7; */
    color: #343a40;
    border-radius: 5px;
    width: 85px;
}

.back-button:active {
    background-color: #fff;
    outline: none;
}

.back-button:focus {
    outline: none;
}

back-button, .back-button > a {
    cursor: pointer;
    color: gray;
}

.back-button:hover > a {
    cursor: pointer;
    color: #343a40;
}

.back-button::before {
    content: "";
    position: absolute;
    border-top: 3px solid;
    border-left: 3px solid;
    width: 15px;
    height: 15px;
    top: 11px;
    left: 3px;
    transform: rotate(-45deg);
}

h1 {
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.4em;
    margin-top: 0.8em;
}

.input-border-bottom {
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    color: #343a40;
}

.heading-box {
    width: 100%;
    height: 30%;
}

.form {
    width: 100%;
    height: 70%;
    padding-top: 2em;
    position: relative;

}

.my-color-button {
    position: absolute;
    bottom: 0;
    background-color: #21e09d;
    border-color: #21e09d;
    border-radius: 15px;
    margin-top: 5em;

    -webkit-box-shadow: 0px 0px 27px 3px rgba(33, 224, 157, 0.3);
    -moz-box-shadow: 0px 0px 27px 3px rgba(33, 224, 157, 0.3);
    box-shadow: 0px 0px 27px 3px rgba(33, 224, 157, 0.3);
}

.btn-success:hover {
    color: #fff;
    background-color: #45c395;
    border-color: #40837d;
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #285f5d;
    border-color: #285f5d;
}

.litle-form-button {
    width: 100%;
}

.bg-icons {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.bg-icons > div {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.bg-icons > div > ul {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.bg-icons > div > ul > li {
    position: absolute;
}

.bg-icons > div > ul > li > img {
    width: 100%;
}

li.icon-mail-1 {
    width: 4.8em;
    top: 51%;
    left: 23%;
}

.icon-mail-2 {
    width: 9em;
    top: 33%;
    left: 24.4%;
}

.icon-mail-3 {
    width: 3.9em;
    top: 46%;
    left: 28.6%;
}

.plain {
    right: 28.4%;
    top: 49.6%;
    width: 11em;
}

.form-control:focus {
    color: #a7a7a7;
    background-color: #fff;
    border-color: #21e09d;
    outline: 0;
    /*box-shadow: 0 0 0 0.2rem rgba(89, 202, 170, 0.25);*/
    -webkit-box-shadow: 0px 2px 0px 0px rgba(33, 224, 157, 0.5);
    -moz-box-shadow: 0px 2px 0px 0px rgba(33, 224, 157, 0.5);
    box-shadow: 0px 2px 0px 0px rgba(33, 224, 157, 0.5);
}

.menu-navigation {
    cursor: pointer;
}

.menu-navigation > a {
    width: 100%;
    text-decoration: none;
    color: #a7a7a7;
}

.menu-navigation > a:hover {
    display: block;
    color: #636363;
    background-color: #ececea;

}

.menu-navigation > a > p {
    width: 100%;
    padding: 5px 25px;
    border-radius: 5px;
}

header {
    padding-bottom: 1em;
}

header h1 {
    font-size: 2.3em;
    font-weight: 400;
}

h3 {
    font-size: 1.25em;
    color: #636363;
}

.search-users {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 3px;
    padding: 15px 25px 80px 25px;
    -webkit-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.3);
}

.sq-button-small {
    padding: 5px 50px;
    position: absolute;
    right: 25px;
    bottom: 25px;
    background-color: #21e09d;
    border-color: #21e09d;
}

.search-users label {
    width: 10%;
    float: left;
    font-size: 1.1em;
    padding-top: 3px;
}

.long-input-list {
    width: 90%;
    margin-bottom: 17px;
}

hr {
    opacity: 0;
}

.search-users::before {
    content: "";
    position: absolute;
    top: 54px;
    right: 0;
    left: 0;
    height: 2px;
    background-color: #21e09d;
}

.list-users {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 3px;
    padding: 0 0 150px 0;
    margin-top: 2.1em;
    -webkit-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.3);
}

.my-table {
    width: 100%;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
    table-layout: fixed;
}

.my-table > thead {
    border-bottom: 2px solid #21e09d;
    color: #636363;
    font-family: 'LogisticCustom', serif;
    font-size: 1em;

}

.my-table > thead tr th {
    padding: 17px 0 18px;
}

.my-table tbody tr {
    border-bottom: 1px solid #d3d3d3;
}

.my-table tbody tr td {
    font-size: 0.8em;
    padding: 1em 0;
}

.statistic-table-body thead tr th:first-child, .statistic-table-body tbody tr td:first-child {
    text-align: left;
    padding-left: 25px;
}

.link-info-about-user {
    color: #21e09d;
    text-decoration: underline;
    cursor: pointer;
}
.link-info-about-user:hover {
    color :#45c395;
}

/*.short-input-list {*/
/*width: 45%;*/
/*}*/

.wrapper-short-input-list {
    width: 100%;
}

.wrapper-short-input-list > label {
    width: 10%;
}

.wrapper-short-input-list > input {
    width: 40%;
}

.single-block {
    margin: 0;
}

.heading-button {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-button-right {
    margin-top: 25px;
    margin-right: 2%;
    z-index: 300;
}

.add-button-big {
    position: absolute;
    top: -14px;
    right: 2%;
    width: 205px;
    height: 50px;
    padding: 0.6em 2em;
    margin-top: 49px;
    z-index: 300;
}

.email-for-sending-list tbody tr td:last-child {
    color: red;
    text-decoration: underline;
    cursor: pointer;
}


.category-land tbody tr td > a {
    color: #21e09d;
    text-decoration: underline;
}
.category-land tbody tr td .deleteLink {
    color:red;
}

.input-border-bottom:focus {
    color: #212529;
}