<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>NOTIFY.BY</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-9">
                <div class="heading-button">
                    <h1 id="main-heading">Организации</h1>
                    <a th:href="@{'addCustomerService'(exitPointId=${exitPointId},provinceId=${provinceId}, provinceName=${provinceName},
                countryId=${countryId},countryName=${countryName})}">
                        <button class="btn btn-success sq-button-small add-button-big"
                                name="Submit" value="Войти"
                                type="Submit">
                            ДОБАВИТЬ
                        </button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</header>
<main>
    <div class="container wrap-for-background">
        <div class="row bg-icons">
            <div class="col-lg-12">
                <ul>
                    <li class="icon-mail-1"><img th:src="@{../images/bg/mail 2.png}" alt=""></li>
                    <li class="icon-mail-2"><img th:src="@{../images/bg/mail.png}" alt=""></li>
                    <li class="icon-mail-3"><img th:src="@{../images/bg/mail 3.png}" alt=""></li>
                    <li class="plain"><img th:src="@{../images/bg/plane.png}" alt=""></li>
                </ul>
            </div>
        </div><!--bg-icons-END-->

        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <aside id="menu-navigation" class="menu-navigation">
                        <a th:href="@{'/admin/countryList'}">
                            <p>Категории</p>
                        </a>
                        <a th:href="@{'/admin/userList'}">
                            <p>Список пользователей</p>
                        </a>
                        <a th:href="@{'/admin/statistic'}">
                            <p>Статистика</p>
                        </a>
                        <a th:href="@{'/admin/serverEmail'}">
                            <p>Управление почтой</p>
                        </a>
                        <a th:href="@{'/admin/changePassword'}">
                            <p>Сменить пароль</p>
                        </a>
                    </aside>
                </div>
                <div class="col-lg-9">

                    <div class="list-users single-block">
                        <table class="my-table statistic-table-body email-for-sending-list category-land"
                               style="text-align:center" id="countryTable">
                            <thead>
                            <tr>
                                <th colspan="3" th:if="${resultFalse}"     style="font-size: 12px;padding-top: 1em;padding-bottom: 1em; color: #a7a7a7">
                                    Ничего не найдено!
                                </th>
                            </tr>
                            <tr>
                                <th>Организация</th>
                                <th>Email</th>
                                <th>Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="customerService:${customerServices}">
                                <td th:text="${customerService.customerServiceName}"/>
                                <td th:text="${customerService.customerServiceEmail}"/>
                                <td><a th:href="@{'deleteCustomerService'(customerServiceId=${customerService.id},
                exitPointId=${exitPointId}, provinceId=${provinceId}, provinceName=${provinceName},
                countryId=${countryId},countryName=${countryName})}" style="color:red;">Удалить</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<script th:src="@{../js/js.js}"></script>
</body>
</html>