<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>NOTIFY.BY</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<div class="container wrap-for-background">
    <div class="row bg-icons">
        <div class="col-lg-12">
            <ul>
                <li class="icon-mail-1"><img th:src="@{../images/bg/mail 2.png}" alt=""></li>
                <li class="icon-mail-2"><img th:src="@{../images/bg/mail.png}" alt=""></li>
                <li class="icon-mail-3"><img th:src="@{../images/bg/mail 3.png}" alt=""></li>
                <li class="plain"><img th:src="@{../images/bg/plane.png}" alt=""></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-center align-items-center parent-form-container">
            <div class="child-form-container">
                <div class="heading-box">
                    <div class="back-button">
                        <a th:href="@{'serverEmail'}" class="">назад</a>
                    </div>
                    <h1>ДОБАВЬТЕ ПОЧТУ В<br/>КАТЕГОРИЮ ПРИЛОЖЕНИЯ</h1></div>
                <form class="form" action="#" th:action="@{/admin/addServerEmail}" th:object="${serverEmail}"
                      method="post">
                    <label></label>
                    <input type="text" class="form-control form-control input-border-bottom" id="email"
                           th:field="*{email}"
                           placeholder="Введите Email" required>
                    <br>
                    <input type="text" class="form-control form-control input-border-bottom" id="password"
                           th:field="*{password}"
                           placeholder="Введите пароль" required>
                    <br>
                    <input type="text" class="form-control form-control input-border-bottom" id="smtp"
                           th:field="*{smtp}"
                           placeholder="Введите SMTP" required>
                    <br>
                    <input type="text" class="form-control form-control input-border-bottom" id="port"
                           th:field="*{port}"
                           placeholder="Введите порт" required>
                    <br>
                    <input type="text" class="form-control form-control input-border-bottom" id="ssl"
                           th:field="*{ssl}"
                           placeholder="Введите SSL" required>
                    <input type="submit" class="btn btn-success my-color-button litle-form-button" value="Добавить">
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>